* {
    background-color: #E6CCB2;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Otomanopee One', sans-serif;
    margin-top: 10px;
    text-align: center;
}

form {
    margin: 10px auto;
    background-color: #E6CCB2;
    width: 500px;
    box-shadow: 3px 3px 15px 3px black;
}

.input-box {
    /* margin-left: 10%; */
    padding: 11px 10px;
    text-align: center;
}

input {
    align-items: center;
    padding: 5px 10px;
    box-shadow: 1px 1px 5px black;
}

input::placeholder {
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.btn {
    margin: 10px 2px 10px 25%;
    display: flex;
    height: 50px;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px white;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}